// colors
$primary-color: #50525E;
$accent-color: #CB8958;
$dark-color: #30323D;
$header-background: #000;
$footer-background: #000;

// container
$container: 1120px; //with paddings
$container-paddings: 20px;

// default page text
$ff: 'Inria Sans', sans-serif;
$fz: 20px;
$fw: 400;
$lh: 140%;

// section
$section-mb: 100px;

// default title
$title-fz: 24px;
$title-fw: 700;
$title-lh: normal;
$title-mb: 20px;

// default text paragraph
$text-mb: 20px;

// default policy title
$policy-title-fz: 24px;
$policy-title-mb: 20px;

// default policy text
$policy-text-mb: 20px;

// default btn
$btn-max-width: 344px;
$btn-padding: 10px 20px
