@use "@/styles/vars" as *;

.modal-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & img {
        width: 20vw;
        max-width: 150px;
        height: auto;
    }
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 20;
    background: rgba(33, 15, 11, 0.1);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    align-items: flex-start;
    padding: 100px 20px 100px;
    overflow-y: scroll;
}
.modal__inner {
    position: relative;
    max-width: 740px;
    margin: 0 auto;
    padding: 80px 25px;
    border-radius: 2px;
    background: #fff;
    text-align: center;
}
.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
}
.modal__checkmark {
    margin-bottom: 24px;
}
.modal__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
    text-align: center;
    color: $accent-color;
}
.modal__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.modal__text {
    font-size: 16px;
    text-align: center;
}

.modal.open {
    display: grid;
    animation: show 0.3s ease-in forwards;
}

.modal.thanks {
    display: grid;
}
.modal.thanks .modal__inner {
    display: none;
}
.modal.thanks .modal__thanks {
    display: block;
    animation: show 0.3s ease-in forwards;
}
